extends ../layout

include ../mixins/notes

block content
    h1= title 
    div
        div
            ul
                li some text
                li some more text
                
    div(title="This is the title",data-widget="made up widget") other attributes
                
    p.my-class-name.my-second-class inline content
    
    p#id
        | first part of block
        | second part of block
        
    p.
        super duper long
        text
        
    //- This comment does not print
    //This comment print in the html
    //-
        This is a block comment line one
        This is a block comment line two
    
    - var var1 = "test";
    h2= var1
    p var1 is equal to #{var1}
    
    // using if statement
    if var1 !== undefined
        h1= var1
    else
        h1 Not content is in var1
       
    //switch 
    - var color = "red"
    case color
        when "blue"
            h2(style="color:blue;")= color
        when "red"
            h2(style="color:red;")= color
    
    //looping
    - var list = ["Item1","Item2","Item3"]
    ul
        each item in list
            li= item
            
    //calling a mixins
    +firstMixin('value1', 'value2').custom-class
        div I want this text to go inside my mixin