body{
    background:#e6e6e6;
    color:black;
}
#main{
    margin-left:200px;
    transition:0.4s;
}
.w3-sidenav{
    width:200px
}
@media screen and (max-width: 455px) {
    .h3 {
        font-size:16px;
    }
}
.w3-closenav {position:absolute !important;right:20px!important;top:2px!important;padding:0 !important;}
.w3-closenav:hover {background-color:transparent !important;color:#fff;}