extends ../layout

include ../mixins/form

block content
    form(method="POST",action="/users/create")
        +textbox("Username","username")(value=doc.username,pattern="^[a-zA-Z0-9]+$",required="required")
        +textbox("Password","password")(type="password",pattern="^(?=(.*\d){1,})(?=.*[a-zA-Z])(?=.*[!@#$%])[0-9a-zA-Z!@#$%]{8,}",minlength="8",required="required",title="must be at least 8 characters long and contain a number and special character ")
        +textbox("Email","email")(value=doc.email,type="email",required="required")
        +textbox("Name","name")(value=doc.name,pattern="^[a-zA-Z\\s]+$",required="required")
        +dropdown("User Type","permissions",permissions)(required="required")
        div.w3-margin-top
            a(href="/users").w3-btn.w3-white.w3-border.w3-margin-right Cancel
            +submit()