extends ../layout

include ../mixins/form

block content
    form(method="POST",action="/users/edit/" + doc.id)
        +textbox("Username","username")(value=doc.username,pattern="^[a-zA-Z0-9]+$",required="required")
        +textbox("Email","email")(value=doc.email,type="email",required="required")
        +textbox("Name","name")(value=doc.name,pattern="^[a-zA-Z\\s]+$",required="required")
        +dropdown("User Type","permissions",permissions)(required="required")
        div.w3-margin-top
            a(href="/pages").w3-btn.w3-white.w3-border.w3-margin-right Cancel
            +submit()