extends ../layout

block content
    if docs.length > 0
        div.w3-responsive
            table.w3-table-all.w3-table.w3-striped
                tr
                    th(id="username") Username
                    th(id="email") Email
                
                each doc in docs
                    tr
                        td(headers="username")
                            a(href="/users/view/" + doc.id)= doc.username
                        td(headers="email")
                            a(href="mailto:" + doc.email)= doc.email
    div.w3-margin-top
        a.w3-button.w3-green(href="users/create") Create New