extends ../layout

include ../mixins/form

block content
    +textbox("Username","username")(value=doc.username,disabled="disabled")
    +textbox("Email","email")(value=doc.email,disabled="disabled")
    +textbox("Name","name")(value=doc.name,disabled="disabled")
    +dropdown("User Type","permissions",permissions)(disabled="disabled")
    div.w3-margin-top
        a(href="/users").w3-btn.w3-white.w3-border.w3-margin-right Back
        a(href="/users/delete/" + doc.id,onclick="javascript:if(!confirm('Are you sure. Action cannot be undone.')){return false;}").w3-btn.w3-red.w3-margin-right Delete
        a(href="/users/edit/" + doc.id).w3-btn.w3-green Edit