extends ../layout

include ../mixins/form

block content
    form(method="POST",action="/pages/edit/" + doc.id)
        +textbox("Title","title")(value=doc.title,pattern="^[a-zA-Z ]+$",required="required")
        div.w3-white
            div#editor= doc.text
        +textarea("Content","text")(required="required")= doc.text
        +submit()