if flash.error
    div.w3-panel.w3-red
        h3 Danger!
        if flash.error.length
            ul
                each msg in flash.error
                    li= msg
        else
            p= flash.error
if flash.notice
    div.w3-panel.w3-green
        h3 Success!
        p= flash.notice
