mixin textbox(label,name)
    div(class!=attributes.class)
        input.w3-input(id=name+"-id",name=name,value!=attributes.value,disabled!=attributes.disabled,pattern!=attributes.pattern,required!=attributes.required)
        label(for=name+"-id")= label

mixin textarea(label,name)
    div(class!=attributes.class)
        textarea.w3-input(id=name+"-id",name=name,disabled!=attributes.disabled,required!=attributes.required)
            block
        label(for=name+"-id")= label
        
mixin submit()
    div
        input(type="submit",value="Save").w3-btn.w3-green