mixin firstMixin(param1, param2)
    p(class!=attributes.class) Parameter One is #{param1}
    p Parameter Two is #{param2}
    //-
        if block
            em= block
        else
            em You do not have any block content