extends ../layout

include ../mixins/form

block content
    form(method="POST", action="/login")
        +textbox("Username","username")(required="required")
        +textbox("Password","password")(type="password",required="required")
        div.w3-margin-top
            +submit()
            a(href="/users/create") Register