mixin textbox(label,name)
    div(class!=attributes.class)
        input.w3-input(id=name+"-id",name=name,value!=attributes.value,disabled!=attributes.disabled,pattern!=attributes.pattern,required!=attributes.required,type!=attributes.type)
        label(for=name+"-id")= label

mixin textarea(label,name)
    div(class!=attributes.class)
        textarea.w3-input(id=name+"-id",name=name,disabled!=attributes.disabled,required!=attributes.required)
            block
        label(for=name+"-id")= label
        
mixin dropdown(label,name,options)
    div(class!=attributes.class)
        select.w3-input(id=name+"-id",name=name,disabled!=attributes.disabled,required!=attributes.required)
            each option in options
                if option === attributes.value
                    option(value=option,selected="selected")= option
                else
                    option(value=option)= option
        label(for=name + "-id")= label
mixin submit()
    input(type="submit",value="Save").w3-btn.w3-green