extends ../layout

include ../mixins/form

block content
    form(method="POST",action="/pages/create")
        +textbox("Title","title")(value=doc.title,pattern="^[a-zA-Z ]+$",required="required")
        +textarea("Content","text")(required="required")= doc.text
        div.w3-margin-top
            a(href="/pages").w3-btn.w3-white.w3-border.w3-margin-right Cancel
            +submit()