extends ../layout

include ../mixins/form

block content
    +textbox("Title","title")(value=doc.title,disabled="disabled")
    +textarea("Content","text")(disabled="disabled")= doc.text
    div.w3-margin-top
        a(href="/pages").w3-btn.w3-white.w3-border.w3-margin-right Back
        a(href="/pages/delete/" + doc.id,onclick="javascript:if(!confirm('Are you sure. Action cannot be undone.')){return false;}").w3-btn.w3-red.w3-margin-right Delete
        a(href="/pages/edit/" + doc.id).w3-btn.w3-green Edit
        
    