doctype html
html
    head
        title= title
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel="stylesheet",href="/css/w3.css")
        link(rel="stylesheet",href="/css/font-awesome.min.css")
        link(rel="stylesheet",href="/css/my-styles.css")
        
    body
        include includes/menu
        div#main
            div.w3-container.w3-margin-left
                include includes/header
            
            main.w3-container.w3-margin-left
                include includes/alert
            
                block content
        
        script(src="/js/my-script.js")