doctype html
html
    head
        title= title
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel="stylesheet",href="/css/w3.css")
        link(rel="stylesheet",href="/css/font-awesome.min.css")
        link(rel="stylesheet",href="/css/my-styles.css")
        link(rel="stylesheet",href="https://cdn.quilljs.com/1.2.3/quill.snow.css")
        script(src="https://cdn.quilljs.com/1.2.3/quill.js")
    body
        if(user)
            include includes/menu
        div#main
            div.w3-container.w3-margin-left
                include includes/header
            
            main.w3-container.w3-margin-left
                include includes/alert
            
                block content
        
        script(src="/js/my-script.js")
        script(src="/js/socket.io.js")
        script(src="/js/mysocket.js")