nav#mySidenav.w3-sidenav.w3-light-grey.w3-card-4.w3-animate-left
    header.w3-container.w3-dark-grey
        h2 Menu
            a.w3-right.w3-xlarge.w3-closenav(href="#",onclick="w3_close()",title="close sidenav") &times
       
    a.w3-padding.w3-green(href="/") Home
    a.w3-padding(href="/notes") Notes
    a.w3-padding(href="/users") Users