extends ../layout

include ../mixins/form

block content
    form.w3-container(method="POST",action="/pages/create")
        +textbox("Title","title")(value=doc.title,pattern="^[a-zA-Z ]+$",required="required")
        +textarea("Content","text")(required="required")= doc.text
        +submit()