extends ../layout

block content
    if docs.length > 0
        div.w3-responsive
            table.w3-table-all.w3-table.w3-striped
                tr
                    th(id="title") Title
                    th(id="author") Author
                
                each doc in docs
                    tr
                        td(headers="title")
                            a(href="/pages/view/" + doc.id)= doc.title
                        td(headers="author")
                            a(href="/users/view/" + doc.author_id)= doc.author_id
    div.w3-margin-top
        a.w3-button.w3-green(href="pages/create") Create New